<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <title>Day 1, Exercise 3</title>
</head>
<body>
<nav>
    <div id="github-link">
        <a href="https://github.com/ChristianTrip/JSExercises">GitHub</a>
    </div>
    <div id="menu">
        <div class="dropdown">
            <button id="day1-btn" class="dropbtn">Day 1
            </button>
            <div class="dropdown-content">
                <a href="../../index.html">Exercise 1</a>
                <a href="js-day1-ex2.html">Exercise 2</a>
                <a href="js-day1-ex3.html">Exercise 3</a>
                <a href="js-day1-ex4.html">Exercise 4</a>
                <a href="js-day1-ex5.html">Exercise 5</a>
            </div>
        </div>

        <div class="dropdown">
            <button id="day2-btn" class="dropbtn">Day 2
            </button>
            <div class="dropdown-content">
                <a href="js-day2-ex1.html">Exercise 1</a>
                <a href="js-day2-ex2.html">Exercise 2</a>
                <a href="js-day2-ex3.html">Exercise 3</a>
                <a href="js-day2-ex4.html">Exercise 4</a>
            </div>
        </div>
    </div>
    <div id="my-name">Christian Trip | chri78je@stud.kea.dk</div>
</nav>

<main>
    <header>
        <h1>Exercise 3</h1>
        <p>Using map to create list’s<br>(ul’s, tables etc.)</p>
    </header>

    <section>

        <form>
            <div id="input-field">
            <label>Input name : </label>
            <input id="name-input" type="text">
            </div>
            <br>
            <button id="add">Add name</button>
            <button id="rm-first">Remove first</button>
            <button id="rm-last">Remove last</button>
        </form>
        <ul id="name-list">

        </ul>
    </section>

</main>


<script>

    const names = ["Kurt", "Mikael", "Bo", "Lina", "Elvis"];

    function createList(){
        document.getElementById("name-list").innerHTML = names.map(name => `<li>${name}</li>`).join("");
    }
    createList();


    document.getElementById("add").onclick = (evt ) => {
        evt.preventDefault();
        const newName = document.getElementById("name-input").value;
        names.push(newName);
        createList();
    }
    document.getElementById("rm-first").onclick = (evt ) => {
        evt.preventDefault()
        names.shift()
        createList()
    }
    document.getElementById("rm-last").onclick = (evt ) => {
        evt.preventDefault()
        names.pop()
        createList()
    }


</script>

<script type="text/javascript" src="../scripts/day1.js"></script>
</body>

</html>